<launch>

   <param name="robot_description" textfile="/home/user/ros_dev/test_ws/src/dual_arm/dual_planar_arm_description/urdf/dual_planar_arm.urdf" />

   <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" >
   </node>

   <node pkg="dual_planar_arm" type="simulator" name="robot" output="screen" >
   </node>

   <node pkg="dual_planar_arm" type="move_left_arm" name="move_left_arm" output="screen" >
   </node>

   <node pkg="dual_planar_arm" type="tf_broadcaster" name="tf_br" output="screen" >
   </node>

   <node pkg="rviz" type="rviz" name="rviz" args="-d $(find dual_planar_arm_description)/rviz/dual_planar_arm.rviz" >
   </node>

</launch>
